<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset Password</title>
	</head>
	<body>
		<form action="http://localhost:1323/{{ .group }}s/reset_password" method="POST">
			<input type="text" value="{{ .token }}" name="token" hidden readonly />
			<input type="text" value="{{ .email }}" name="email" hidden readonly />
			<label for="password">New Password</label>
			<input type="password" name="password" />
			<button>Submit</button>
		</form>
	</body>
</html>
